<app-demo-wrapper fieldName='email'>
  <div form>
    There's no available parameters
  </div>

  <div NgModel>
    <app-email-field [placeholder]="placeholder" [(ngModel)]="model"></app-email-field>
    <div class='result' *ngIf="model">
      {{model}}
    </div>
    <pre><code> {{example1}}</code></pre>
  </div>

  <div ReactiveModule>
    <app-email-field [placeholder]="placeholder" [formControl]="control"></app-email-field>
    <div class='result' *ngIf="control.value">
      {{control.value}}
    </div>
    <pre><code> {{example2}}</code></pre>
  </div>

  <div InOut>
    <app-email-field [placeholder]="placeholder" [inputValue]="myInput" (valueChanged)="myOutput=$event"></app-email-field>
    <div class='result' *ngIf="myOutput">
      {{myOutput}}
    </div>
    <pre><code> {{example3}}</code></pre>
  </div>
</app-demo-wrapper>
