<mat-grid-list cols="4">

  <mat-grid-tile colspan="1">

    <mat-card>
      <mat-card-title>{{fieldName}} Field Parameters</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-select placeholder="Security level" [(ngModel)]="strength">
            <mat-option *ngFor="let item of items" [value]="item">
              {{ item.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <mat-card>
      <mat-card-title>{{fieldName}} Field</mat-card-title>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="NgModel">
            <h1>ngModel Example</h1>
            <app-password-field [passwordStrenght]="strength.value" [placeholder]="placeholder" [(ngModel)]="model"></app-password-field>
            <div class='result' *ngIf="model">
              {{model}}
            </div>
          </mat-tab>
          <mat-tab label="ReactiveModule">
            <h1>Reactive Module Example</h1>
            <app-password-field [passwordStrenght]="strength.value" [formControl]="control" [placeholder]="placeholder"></app-password-field>
            <div class='result' *ngIf="control.value">
              {{control.value}}
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
