<app-demo-wrapper [fieldName]='fieldName' [options]="currentOptions">
    <mat-form-field form>
      <mat-select placeholder="Security level" [(ngModel)]="currentOptions.strength">
        <mat-option *ngFor="let item of items" [value]="item">
          {{ item.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div NgModel>
      <app-password-field [passwordStrenght]="currentOptions.strength" [placeholder]="placeholder" [(ngModel)]="model"></app-password-field>
      <div class='result' *ngIf="model">
        {{model}}
      </div>
    </div>
  
    <div ReactiveModule>
      <app-password-field [passwordStrenght]="currentOptions.strength" [formControl]="control" [placeholder]="placeholder"></app-password-field>
      <div class='result' *ngIf="control.value">
        {{control.value}}
      </div>
    </div>
  </app-demo-wrapper>
  